<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>分类</title>
    <link rel="stylesheet" href="../static/css/me.css" >
</head>
<body>

    <!--导航-->
    <nav th:replace="_fragments :: menu(4)" class="ui attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container" >
            <div class="ui   secondary stackable menu">
                <h2 class="ui teal header item">问答</h2>
                <a href="#" class="item"><i class="home icon" > </i>首页</a>
                <a href="#" class=" item"><i class="idea icon" > </i>分类</a>
                <a href="#" class="item"><i class="clone icon" > </i>归档</a>
                <a href="#" class="active item"><i class="info icon" > </i>关于我</a>
                <div class="right item">
                    <div class="ui icon input" >
                        <input type="text" placeholder="Search..">
                        <i class="search link icon" ></i>
                    </div>
                </div>
            </div>
        </div>
       <!-- <a href="#" class="ui  icon button m-right-top">
            <i class="sidebar icon"></i>
        </a>-->
    </nav>


    <!--中间内容-->
    <div class="m-container  m-padded-tb-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <img src="https://unlesssplash.it/800/600?image=1005" class="ui rounded image" alt="">
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui teal attached segment">
                        <p class="m-text-thin">面壁者</p>
                        <p class="m-text-thin">想成为执剑人</p>
                    </div>
                    <div class="ui teal attached segment">
                        <div class="ui orange basic label">编程</div>
                        <div class="ui orange basic label">思考</div>
                        <div class="ui orange basic label">迷茫</div>
                        <div class="ui orange basic label">哲学</div>
                        <div class="ui orange basic label">钓鱼</div>
                    </div>
                    <div class="ui teal attached segment">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">游戏</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">java</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">空白</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">哲学</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">钓鱼</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a class="ui teal circular icon button " href="# " ><i class="github icon"></i></a>
                        <a class="ui wechat green circular icon button " href="# " ><i class="weixin icon"></i></a>
                        <a class="ui qq red circular icon button " href="# " data-content="503184429" ><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechatQR flowing popup transition hidden">
                        <img class="ui rounded image" src="../static/images/wechat.jpg" alt="" width="100px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--文档页脚-->
    <footer th:replace="_fragments :: footer "  class="ui  inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container" >
            <div class="ui inverted divided grid">
                <div class="three wide column">
                    <img src="../static/images/wechat.jpg" class="ui round image" style="width: 120px">
                </div>
                <div class="three wide column m-opacity-mini">
                    <h4 class="ui inverted header">博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="three wide column m-opacity-mini">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">QQ：503184429</a>
                        <a href="#" class="item">Email：Thevelo@163.com</a>

                    </div>
                </div>

                <div class="seven wide column">
                    <h4 class="ui inverted header m-opacity-mini">自我介绍</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客。。。。。。。。。。。。。。。。。。</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">2020-2021@Thevelo</p>
        </div>

    </footer>



    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://lib.baomitu.com/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        $(".qq").popup({
            position:"bottom center"
        });
        $(".wechat").popup({
            popup:$(".wechatQR"),
            on:"hover",
            position:"bottom center"
        });
    </script>
</body>
</html>